.abilash 
{
  background-color: skyblue;
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  overflow: hidden;
  color: blue;
}
.abi1
{
  background-color: white;
  height: 340px;
  text-align: center;
  border: 2px solid black;
  width: 35%;
  border-radius: 10px;
  font-size: 20px;
}
input 
{
  font-size: 20px;
}
button 
{
  font-size: 20px;
  margin-left: 10px;
}
.gimage 
{
  width: 10%;
  padding-top: 5px;
}
.google 
{
  width: 40%;
  border-radius: 7px;
  font-size: 16px;
}